@use "../components/Home/header";
@use "../components/Navigation/nav";


.container{
    max-width: 1200px;
    width: 99%;
    margin: auto;


    @media screen and (max-width: 720px) {
        padding: 0px 10px;
    }

}