.header {
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.header .lock,
.header .unlock {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.623), 2px 20px 20px rgba(255, 255, 255, 0.726);
}
.header .lock img,
.header .unlock img {
  height: 40px;
  width: 40px;
}
.header .lock {
  left: 20%;
  top: 10%;
}
.header .unlock {
  right: 20%;
  top: 40%;
}
@media screen and (max-width: 1024px) {
  .header .unlock {
    right: 5%;
  }
}
@media screen and (max-width: 600px) {
  .header .unlock {
    right: 5%;
    top: 60%;
  }
  .header .lock {
    left: 5%;
  }
}
@media screen and (max-width: 600px) {
  .header .unlock {
    right: 5%;
    top: 80%;
  }
  .header .lock {
    left: 5%;
  }
}
.header .bg__header {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 15%;
}
.header .bg__header.bg__left {
  left: 10%;
}
@media screen and (max-width: 550px) {
  .header .bg__header.bg__left {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 450px) {
  .header .bg__header.bg__left {
    display: none;
  }
}
.header .bg__header.bg__right {
  right: 10%;
}
@media screen and (max-width: 550px) {
  .header .bg__header.bg__right {
    bottom: 0%;
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 450px) {
  .header .bg__header.bg__right {
    display: none;
  }
}
.header__bg {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -100px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  .header .bg__header {
    bottom: 10px;
  }
  .header .bg__header.bg__left {
    left: 10px;
  }
  .header .bg__header.bg__right {
    right: 10px;
  }
  .header__bg {
    transform: translateX(-50%) scale(1.2);
  }
}
@media screen and (max-width: 500px) {
  .header__bg {
    transform: translateX(-50%) scale(2.2);
  }
}
.header div {
  z-index: 30;
  position: relative;
}
.header p {
  color: 334158;
}
.header h1 {
  max-width: 700px;
  width: 70%;
  line-height: normal;
  font-size: 5em;
  color: white;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .header h1 {
    width: 90%;
    font-size: 4em;
  }
}
.header .learn__more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: url("../assets/blob.svg");
  background-repeat: no-repeat;
  width: fit-content;
  margin: auto;
  background-position: center;
  background-size: 100%;
  padding: 70px;
  background-size: contain;
}
.header .learn__more__link {
  padding: 40px;
  color: 334158;
}

.features {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 20vh auto !important;
}
.features h3 {
  color: 334158;
  font-weight: 600;
  font-size: 3em;
  margin: 5px 0px;
}
.features .subtitle {
  font-weight: 400;
  color: 334158;
  margin-bottom: 3em;
}
.features__items {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 800px) {
  .features__items {
    flex-direction: column;
  }
}
.features__items .feature {
  position: relative;
}
.features__items .feature p {
  margin: 20px 0px;
  font-weight: 400;
}
.features__items .feature img {
  width: 80px;
  margin: auto;
}
.features__items .feature .img {
  padding: 40px;
  background: #457eff;
  width: fit-content;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.features__items .feature .img img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.how__list__item {
  padding: 40px 80px;
  box-sizing: border-box;
  border: 1px solid #f97699;
  text-align: start;
  border-radius: 10px;
  box-shadow: 12px 12px 5px 5px rgba(128, 128, 128, 0.473);
  position: relative;
  background: white;
  width: 80%;
}
.how__list__item h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.how__list__item p {
  font-family: "Inter", sans-serif;
}
.how__list__item:nth-child(1) {
  position: relative;
}
.how__list__item:nth-child(2) {
  left: 10%;
  position: relative;
  z-index: 100;
  top: -25px;
}
.how__list__item:nth-child(3) {
  left: 20%;
  top: -50px;
  position: relative;
  z-index: 200;
}
@media screen and (max-width: 768px) {
  .how__list__item {
    width: 100%;
    left: 0px !important;
    top: 0px !important;
    margin: 15px 0px;
    box-shadow: 12px 12px 5px rgba(128, 128, 128, 0.473);
  }
}
@media screen and (max-width: 470px) {
  .how__list__item {
    padding: 20px 40px;
  }
}

.footer {
  padding-top: 20vh;
  text-align: center;
  background-image: url(../assets/footer_bg.png), url(../assets/footer_2.png), linear-gradient(45deg, #000, #000);
  background-position: left center, bottom right, center;
  background-repeat: no-repeat;
  background-size: 10%, 10%, cover;
}
.footer h3 {
  font-family: "Poppins", sans-serif;
  max-width: 400px;
  width: 95%;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2em;
  color: white;
  margin: 20px auto;
}
.footer .footer__link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: url("../assets/blob_bg.svg");
  background-repeat: no-repeat;
  width: fit-content;
  margin: auto;
  background-position: center;
  background-size: 100%;
  padding: 70px;
  background-size: contain;
}
.footer .footer__link .get-started {
  padding: 40px;
  color: white;
}
.footer .contact {
  background: white;
  padding: 20px 0px;
  margin-top: 20vh;
  height: 50px;
}
.footer .contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .contact img {
  width: 40%;
}
@media screen and (max-width: 500px) {
  .footer .contact img {
    width: 60%;
  }
}
.footer .contact .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.nav {
  padding: 20px 0px;
  background: #f97699;
}
.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.nav__body .hamburger {
  display: none;
}
.nav__body .logo img {
  width: 150px;
}
.nav__body ul {
  flex: 2;
}
.nav__body ul li {
  display: inline;
  margin: 0px 10px;
}
.nav__body ul li a {
  font-family: "Inter", sans-serif;
  color: white;
}
.nav__body .get-started {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  overflow: hidden;
}
.nav__body .get-started a {
  font-family: "Poppins", sans-serif;
  padding: 15px 20px;
  color: #334158;
  font-weight: 500;
}
@media screen and (max-width: 780px) {
  .nav .desktop ul,
  .nav .desktop .get-started {
    display: none;
  }
  .nav .hamburger {
    display: block;
    margin-right: 10px;
  }
}
.nav .mobile {
  background: #f97699;
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
}
.nav .mobile ul li {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 10px 0px;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}
.nav .mobile ul li a {
  font-family: "Inter", sans-serif;
  color: white;
}
.nav .mobile ul li:nth-child(1) {
  animation: moveIn 1.5s 1;
}
.nav .mobile ul li:nth-child(2) {
  animation: moveIn 1.8s 1;
}
.nav .mobile ul li:nth-child(3) {
  animation: moveIn 2.1s 1;
}
.nav .mobile ul li:nth-child(4) {
  animation: moveIn 2.4s 1;
}
@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.nav .mobile .get-started {
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0px;
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.5em;
  animation: moveIn 2.4s 1;
}
.nav .mobile .get-started a {
  font-family: "Poppins", sans-serif;
  padding: 15px 20px;
  color: #334158;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  width: 99%;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */